<h1><%= t :organizations %></h1>

<div class="mu-list-group">
  <% @organizations.each do |it| %>
      <a class="mu-list-group-item" href="<%= organization_path it.name %>">
        <i class="fa fa-fw fa-pencil"></i>
        <span class="mu-divider-vertical"></span>
        <span class="mu-text-capitalize"><%= it.name %></span>
      </a>
  <% end %>
</div>
