<div class="row">
  <div class="col-md-12">
    <%= form_tag path, method: :get do |f| %>
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="<%= t :search %>" name="q" value="<%= @q %>">
            <div class="input-group-btn">
              <button id="search" class="btn btn-success" type="submit"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>

